<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul class="todo-list">
            <h1>Index</h1>
            {{#users}}
              <li>{{username}}</li>
            {{/users}}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
