<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul class="todo-list">
            {{#users}}
              <li>
                <a href=/users/{{id}}>  <img src={{avatar}}>
                  <h2>{{username}}</h2>
                  {{#job}}
                  <span class="data_job">{{job}}, {{company}}</span>
                  {{/job}}
                  {{^job}}
                  <span class="unemployed">Available for Hire</span>
                  {{/job}}</a>
              </li>
            {{/users}}
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
